
.inline-block{
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}
.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav{
    width: 73%;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;   

}
ul{
    width: 50%;
    margin-left: auto;
}

.heroImg{
    height: 600px;
    background-repeat: no-repeat;
    /*padding: 25px; not used so the footer covers all the page*/

}
.content{
    width: 500px;
    margin: 0 auto;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: #373738;
    color: white;
    text-align: justify;
    font-family: 'Poppins','sans-serif'; 
    margin-top: 40px; 
}
footer ul{
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}
.special-word { 
    color: #DAB9E4; 
  } 

button{
display: flex;
color: white;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 40px;
background: #DAB9E4;
border-radius: 40px;
font-family: 'Poppins', 'sans-serif';
font-weight: bolder;
font-size: 16px;
}

body{
    margin: 0%;
}

.color{
    background-color: rgba(244, 241, 255, 0.5);
}
#AG{
    width: 100px;
    float: right;
    padding: 40px;
}
